#### Categorical Variables

One of the main ways for working with categorical variables is using 0, 1 encodings.  In this technique, you create a new column for every level of the categorical variable.  The **advantages** of this approach include:

1. The ability to have differing influences of each level on the response.
2. You do not impose a rank of the categories.
3. The ability to interpret the results more easily than other encodings.

The **disadvantages** of this approach are that you introduce a large number of effects into your model.  If you have a large number of categorical variables or categorical variables with a large number of levels, but not a large sample size, you might not be able to estimate the impact of each of these variables on your response variable.  There are some rules of thumb that suggest 10 data points for each variable you add to your model.  That is 10 rows for each column.  This is a reasonable lower bound, but the larger your sample (assuming it is representative), the better.

Let's try out adding dummy variables for the categorical variables into the model.  We will compare to see the improvement over the original model only using quantitative variables.  


#### Run the cell below to get started.

In [124]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score, mean_squared_error
import CatVar as t
import seaborn as sns
%matplotlib inline

df = pd.read_csv('./survey_results_public.csv')
df.head()

#Only use quant variables and drop any rows with missing values
num_vars = df[['Salary', 'CareerSatisfaction', 'HoursPerWeek', 'JobSatisfaction', 'StackOverflowSatisfaction']]

#Drop the rows with missing salaries
drop_sal_df = num_vars.dropna(subset=['Salary'], axis=0)

# Mean function
fill_mean = lambda col: col.fillna(col.mean())
# Fill the mean
fill_df = drop_sal_df.apply(fill_mean, axis=0)

#Split into explanatory and response variables
X = fill_df[['CareerSatisfaction', 'HoursPerWeek', 'JobSatisfaction', 'StackOverflowSatisfaction']]
y = fill_df['Salary']

#Split into train and test
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = .30, random_state=42) 

lm_model = LinearRegression(normalize=True) # Instantiate
lm_model.fit(X_train, y_train) #Fit
        
#Predict and score the model
y_test_preds = lm_model.predict(X_test) 
"The r-squared score for the model using only quantitative variables was {} on {} values.".format(r2_score(y_test, y_test_preds), len(y_test))

'The r-squared score for the model using only quantitative variables was 0.03257139063404435 on 1503 values.'

#### Question 1

**1.** Use the **df** dataframe. Identify the columns that are categorical in nature.  How many of the columns are considered categorical?  Use the reference [here](http://pbpython.com/categorical-encoding.html) if you get stuck.

In [11]:
df.dtypes.value_counts() #(df.dtypes==object).sum()

object     147
float64      6
int64        1
dtype: int64

In [2]:
#cat_df = df.select_dtypes(exclude=['number']) # Subset to a dataframe only holding the categorical columns
cat_df = df.select_dtypes(include=['object'])

# Print how many categorical columns are in the dataframe - should be 147
cat_df.shape[1]

147

In [3]:
# Test your dataframe matches the solution
t.cat_df_check(cat_df)

Nice job! That looks right!

#### Question 2

**2.** Use **cat_df** and the cells below to fill in the dictionary below the correct value for each statement.

In [6]:
# Cell for your work here
(cat_df.isnull().sum()==0).sum()

6

In [10]:
# Cell for your work here
(cat_df.isnull().sum()>0.5*cat_df.shape[0]).sum()

49

In [8]:
# Cell for your work here
cat_df.shape[0]

19102

In [11]:
(cat_df.isnull().sum()>0.75*cat_df.shape[0]).sum()

13

In [12]:
# Provide the key as an `integer` that answers the question

cat_df_dict = {'the number of columns with no missing values': 6, 
               'the number of columns with more than half of the column missing': 49,
               'the number of columns with more than 75% of the column missing': 13
}

# Check your dictionary results
t.cat_df_dict_check(cat_df_dict)

Nice job! That looks right to me!

#### Question 3

**3.** For each of the categorical variables, we now need to create dummy columns.  However, as we saw above, there are a lot of missing values in the current set of categorical columns.  So, you might be wondering, what happens when you dummy a column that has missing values.

The documentation for creating dummy variables in pandas is available [here](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.get_dummies.html), but we can also just put this to practice to see what happens.

First, run the cell below to create a dataset that you will use before moving to the full stackoverflow data.

After you have created **dummy_var_df**, use the additional cells to fill in the **sol_3_dict** with the correct variables that match each key.

In [13]:
dummy_var_df = pd.DataFrame({'col1': ['a', 'a', 'b', 'b', 'a', np.nan, 'b', np.nan],
                             'col2': [1, np.nan, 3, np.nan, 5, 6, 7, 8] 
})
                            
dummy_var_df

  col1  col2
0    a   1.0
1    a   NaN
2    b   3.0
3    b   NaN
4    a   5.0
5  NaN   6.0
6    b   7.0
7  NaN   8.0

In [ ]:
# Use this cell to write whatever code you need.

In [25]:
a = 1
b = 2
c = 3
d = 'col1'
e = 'col2'
f = 'the rows with NaNs are dropped by default'
g = 'the NaNs are always encoded as 0'


sol_3_dict = {'Which column should you create a dummy variable for?': 'col1',   #error has to put actual answer instead of parametrics
              'When you use the default settings for creating dummy variables, how many are created?': 2,
              'What happens with the nan values?': 'the NaNs are always encoded as 0' 
             }

# Check your dictionary against the solution
t.sol_3_dict_check(sol_3_dict) #  'When you use the default settings for creating dummy variables, how many are created?' 'When you use the default settings for creating dummy variables, how many are created?'

Nice job! That looks right to me!

#### Question 4

**4.** Notice, you can also use **get_dummies** to encode **NaN** values as their own dummy coded column using the **dummy_na** argument.  Often these NaN values are also informative, but you are not capturing them by leaving them as 0 in every column of your model.

Create a new encoding for **col1** of **dummy_var_df** that provides dummy columns not only for each level, but also for the missing values below. Store the 3 resulting dummy columns in **dummy_cols_df** and check your solution against ours.

In [28]:
dummy_cols_df = pd.get_dummies(dummy_var_df['col1'],dummy_na=True) #Create the three dummy columns for dummy_var_df

# Look at your result
dummy_cols_df

   a  b  NaN
0  1  0    0
1  1  0    0
2  0  1    0
3  0  1    0
4  1  0    0
5  0  0    1
6  0  1    0
7  0  0    1

In [29]:
# Check against the solution
t.dummy_cols_df_check(dummy_cols_df)

Nice job! That looks right!

#### Question 5

**5.** We could use either of the above to begin creating an X matrix that would (potentially) allow us to predict better than just the numeric columns we have been using thus far.

First, complete the **create_dummy_df**.  Follow the instructions in the document string to assist as necessary.

In [125]:
#Create a copy of the dataframe
cat_df_copy = cat_df.copy()
#Pull a list of the column names of the categorical variables
cat_cols_lst = cat_df.columns

def create_dummy_df(df, cat_cols, dummy_na):
    '''
    INPUT:
    df - pandas dataframe with categorical variables you want to dummy
    cat_cols - list of strings that are associated with names of the categorical columns
    dummy_na - Bool holding whether you want to dummy NA vals of categorical columns or not
    
    OUTPUT:
    df - a new dataframe that has the following characteristics:
            1. contains all columns that were not specified as categorical
            2. removes all the original columns in cat_cols
            3. dummy columns for each of the categorical columns in cat_cols
            4. if dummy_na is True - it also contains dummy columns for the NaN values
    '''
    
    #df_numeric=df.drop(columns=cat_col)
#     df_cat=df[cat_cols]
#     df_cat_dummy=pd.get_dummies(df_cat,dummy_na=dummy_na)
#     #print(cat_cols)
#     #df.drop(cat_cols,axis=1,inplace=True)
#     dg=pd.concat([df.drop(cat_cols,axis=1),df_cat_dummy],axis=1)  #this seem correct but when error happen for some col crash 

    for col in  cat_cols:  #this if a col has issue skip
        try:
            # for each cat add dummy var, drop original column
            df = pd.concat([df.drop(col, axis=1), pd.get_dummies(df[col], prefix=col, prefix_sep='_', drop_first=True, dummy_na=dummy_na)], axis=1)
        except:
            continue
    
    return df

In [126]:
#Run this cell to check your function - if it breaks, try adding a 
#try, except block to work with edge cases
#Dropping where the salary has missing values
df  = df.dropna(subset=['Salary'], axis=0)

#Pull a list of the column names of the categorical variables
cat_df = df.select_dtypes(include=['object'])
cat_cols_lst = cat_df.columns
print(cat_cols_lst)
df_new = create_dummy_df(df, cat_cols_lst, dummy_na=False) #Use your newly created function

# Show shape to assure it has a shape of (5009, 11938)
print(df_new.shape)

Index(['Professional', 'ProgramHobby', 'Country', 'University',
       'EmploymentStatus', 'FormalEducation', 'MajorUndergrad', 'HomeRemote',
       'CompanySize', 'CompanyType',
       ...
       'StackOverflowBetter', 'StackOverflowWhatDo', 'StackOverflowMakeMoney',
       'Gender', 'HighestEducationParents', 'Race', 'SurveyLong',
       'QuestionsInteresting', 'QuestionsConfusing', 'InterestedAnswers'],
      dtype='object', length=147)
(5009, 11938)

#### Question 6

**6.** Use the document string below to complete the function.  Then test your function against the solution.

In [127]:
df_new.head()

,Respondent,CareerSatisfaction,JobSatisfaction,HoursPerWeek,StackOverflowSatisfaction,Salary,ExpectedSalary,"ProgramHobby_Yes, I contribute to open source projects","ProgramHobby_Yes, I program as a hobby","ProgramHobby_Yes, both",...,QuestionsInteresting_Strongly agree,QuestionsInteresting_Strongly disagree,QuestionsConfusing_Disagree,QuestionsConfusing_Somewhat agree,QuestionsConfusing_Strongly agree,QuestionsConfusing_Strongly disagree,InterestedAnswers_Disagree,InterestedAnswers_Somewhat agree,InterestedAnswers_Strongly agree,InterestedAnswers_Strongly disagree
2,3,8.0,9.0,NaN,8.0,113750.0,NaN,0,0,1,...,0,0,1,0,0,0,0,0,0,0
14,15,8.0,8.0,NaN,8.0,100000.0,NaN,0,1,0,...,0,0,1,0,0,0,0,0,0,0
17,18,9.0,8.0,NaN,8.0,130000.0,NaN,0,0,1,...,0,0,1,0,0,0,0,0,0,0
18,19,5.0,3.0,NaN,NaN,82500.0,NaN,0,1,0,...,0,0,0,0,0,0,0,0,0,0
22,23,8.0,9.0,NaN,8.0,100764.0,NaN,0,0,0,...,0,0,0,1,0,0,0,0,0,0

In [129]:
df_new['Salary']

2        113750.000000
14       100000.000000
17       130000.000000
18        82500.000000
22       100764.000000
25       175000.000000
34        14838.709677
36        28200.000000
37       118279.569892
52        15674.203822
54        64516.129032
57        43010.752688
61         6636.323594
64        69892.473118
65        17777.777778
69        32258.064516
70        65000.000000
72       120000.000000
75        46236.559140
76        96283.000000
81       110000.000000
83       165000.000000
89       113694.267516
90        38600.000000
95        53763.440860
97        27548.209366
99       109400.000000
102       83870.967742
103       51000.000000
104       17515.923567
             ...
18945    121500.000000
18946     38709.677419
18947       405.405405
18950     43750.000000
18955     23750.000000
18964     32962.962963
18984     37500.000000
18985    150000.000000
18989    155000.000000
18990     62500.000000
18996     37500.000000
19004      2040.740741
19005     65000.000000
19006     65000.000000
19011     31393.614888
19014     70000.000000
19016     18279.569892
19018     34408.602151
19020      5376.344086
19022     28506.787330
19039      2972.972973
19045     43010.752688
19046     43750.000000
19055    140000.000000
19073     87500.000000
19079     65000.000000
19086     80645.161290
19088     41250.000000
19089     50500.000000
19100    110000.000000
Name: Salary, Length: 5009, dtype: float64

In [130]:
def clean_fit_linear_mod(df, response_col, cat_cols, dummy_na, test_size=.3, rand_state=42):
    '''
    INPUT:
    df - a dataframe holding all the variables of interest
    response_col - a string holding the name of the column 
    cat_cols - list of strings that are associated with names of the categorical columns
    dummy_na - Bool holding whether you want to dummy NA vals of categorical columns or not
    test_size - a float between [0,1] about what proportion of data should be in the test dataset
    rand_state - an int that is provided as the random state for splitting the data into training and test 
    
    OUTPUT:
    test_score - float - r2 score on the test data
    train_score - float - r2 score on the test data
    lm_model - model object from sklearn
    X_train, X_test, y_train, y_test - output from sklearn train test split used for optimal model
    
    Your function should:
    1. Drop the rows with missing response values
    2. Drop columns with NaN for all the values
    3. Use create_dummy_df to dummy categorical columns
    4. Fill the mean of the column for any missing values 
    5. Split your data into an X matrix and a response vector y
    6. Create training and test sets of data
    7. Instantiate a LinearRegression model with normalized data
    8. Fit your model to the training data
    9. Predict the response for the training data and the test data
    10. Obtain an rsquared value for both the training and test data
    
    '''
    
    #drop_sal_df = df.dropna(subset=[response_col], axis=0) #axis=0 remove rows is salary is NaN
    df  = df.dropna(subset=[response_col], axis=0)
    df=df.dropna(how='all',axis=1)
    
    df=create_dummy_df(df, cat_cols, dummy_na)
    
    #df=df.apply(lambda col: col.fillna(col.mean()), axis=0)
    
    # Mean function
    fill_mean = lambda col: col.fillna(col.mean())
    # Fill the mean
    df = df.apply(fill_mean, axis=0)
    
    X=df.drop(response_col,axis=1)
    y=df[response_col]
    #fill_mean = lambda col: col.fillna(col.mean())
    # Fill the mean
    #fill_df = drop_sal_df.apply(fill_mean, axis=0)
    
    #Split into train and test
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = test_size, random_state=rand_state) 

    lm_model = LinearRegression(normalize=True) # Instantiate
    lm_model.fit(X_train, y_train) #Fit
        
#Predict and score the model
    y_test_preds = lm_model.predict(X_test) 
    y_train_preds = lm_model.predict(X_train)
    test_score=r2_score(y_test, y_test_preds)
    train_score=r2_score(y_train,y_train_preds)

    return test_score, train_score, lm_model, X_train, X_test, y_train, y_test


#Test your function with the above dataset
test_score, train_score, lm_model, X_train, X_test, y_train, y_test = clean_fit_linear_mod(df_new, 'Salary', cat_cols_lst, dummy_na=False)

In [131]:
#Print training and testing score 
#your training should be about 1, 
#while the test should be about .45
print("The rsquared on the training data was {}.  The rsquared on the test data was {}.".format(train_score, test_score))

The rsquared on the training data was 1.0.  The rsquared on the test data was 0.45291097054125484.

Notice how much higher the rsquared value is on the training data than it is on the test data - why do you think that is?