### Calculating Errors

Here are two datasets that represent two of the examples you have seen in this lesson.  

One dataset is based on the parachute example, and the second is based on the judicial example.  Neither of these datasets are based on real people.

Use the questions below to assist in answering the quiz questions at the bottom of this page.

In [1]:
import numpy as np
import pandas as pd

jud_data = pd.read_csv('judicial_dataset_predictions.csv')
par_data = pd.read_csv('parachute_dataset.csv')

In [2]:
jud_data.head()

   defendant_id    actual predicted
0         22574  innocent  innocent
1         35637  innocent  innocent
2         39919  innocent  innocent
3         29610    guilty    guilty
4         38273  innocent  innocent

In [15]:
jud_data[(jud_data['actual'] == 'guilty') & (jud_data['predicted'] == 'Innocent')]

Empty DataFrame
Columns: [defendant_id, actual, predicted]
Index: []

In [17]:
jud_data.shape[0]

7283

In [3]:
par_data.head()

   parachute_id actual predicted
0          3956  opens     opens
1          2147  opens     opens
2          2024  opens     opens
3          8325  opens     opens
4          6598  opens     opens

In [22]:
par_data.actual.value_counts()

opens    5781
fails      48
Name: actual, dtype: int64

`1.` Above, you can see the actual and predicted columns for each of the datasets.  Using the **jud_data**, find the proportion of errors for the dataset, and furthermore, the percentage of errors of each type.  Use the results to answer the questions in quiz 1 below.  

**Hint for quiz:** an error is any time the prediction doesn't match an actual value.  Additionally, there are Type I and Type II errors to think about.  We also know we can minimize one type of error by maximizing the other type of error.  If we predict all individuals as innocent, how many of the guilty are incorrectly labeled?  Similarly, if we predict all individuals as guilty, how many of the innocent are incorrectly labeled?

In [23]:
# H0:innocent, H1: guilty
# type1 Error predict H1=True, even though H0=True
print('type1:',jud_data[(jud_data['actual'] == 'innocent') & (jud_data['predicted'] == 'guilty')].shape[0]/jud_data.shape[0])

# type2 Error predict H0=True, even though H1=True
print('type2:',jud_data[(jud_data['actual'] == 'guilty') & (jud_data['predicted'] == 'innocent')].shape[0]/jud_data.shape[0])

type1: 0.001510366607167376
type2: 0.04064259233832212

In [21]:
jud_data[(jud_data['actual'] == 'innocent')].shape[0]/jud_data.shape[0]

0.45159961554304545

`2.` Using the **par_data**, find the proportion of errors for the dataset, and furthermore, the percentage of errors of each type.  Use the results to answer the questions in quiz 2 below.

These should be very similar operations to those you performed in the previous question.

In [24]:
# H0:fails, H1: opens
# type1 Error predict H1=True, even though H0=True
print('type1:',par_data[(par_data['actual'] == 'fails') & (par_data['predicted'] == 'opens')].shape[0]/par_data.shape[0])

# type2 Error predict H0=True, even though H1=True
print('type12:',par_data[(par_data['actual'] == 'opens') & (par_data['predicted'] == 'fails')].shape[0]/par_data.shape[0])

type1: 0.00017155601303825698
type12: 0.03980099502487562

In [25]:
par_data[(par_data['actual'] == 'fails')].shape[0]/par_data.shape[0]

0.008234688625836336